/* ================================
   PAGE BASE
================================ */
.safety-check-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

/* ================================
   FORM
================================ */
.safety-check-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}
