.admin-container {
    padding: 40px;
}

.dashboard-title {
    font-weight: 700;
    margin-bottom: 30px;
}

.border-teal {
    border: 2px solid #598199 !important;
    border-radius: 15px;
}

.teal-header {
    background-color: #eaf1f4;
    border-bottom: 2px solid #598199;
    text-align: center;
}

.dashboard-card {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px;
}

.card-title {
    margin: 0;
    font-weight: 600;
}

.placeholder-number {
    font-size: 32px;
    font-weight: 700;
    color: #598199;
}
