/* ================================
   PAGE BASE
================================ */
.prescription-approval-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

/* ================================
   FORM STRUCTURE
================================ */
.prescription-approval-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}

/* ================================
   APPROVE BUTTON
================================ */
.approve-btn-custom {
    background-color: #598199 !important; /* Blue-grey */
    border-color: #598199 !important;
    color: white !important;
    border-radius: 8px;
    font-weight: 500;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80% !important;
    margin-bottom: 2em;
    cursor: pointer;
    border: none;
}

    .approve-btn-custom:hover {
        background-color: #47627A !important;
        border-color: #47627A !important;
        text-decoration: none !important;
    }

