/* ----------------------------------------- */
/*                PAGE LAYOUT                */
/* ----------------------------------------- */

.suppliers-page {
    width: 100%;
    padding: 2rem 0;
}

.suppliers-title {
    margin-bottom: 2rem;
}

/* ----------------------------------------- */
/*                  TABLE                    */
/* ----------------------------------------- */

.suppliers-table-container {
    max-width: 1200px;
    margin: 0 auto;
}

.suppliers-table th {
    background-color: #e8f3f3;
    text-align: center;
    font-weight: 600;
}

.suppliers-table td {
    text-align: center;
}

/* ----------------------------------------- */
/*                  MODAL                    */
/* ----------------------------------------- */

.delete-modal-content {
    border-radius: 18px;
    padding: 1rem 0;
}

.delete-text {
    font-size: 1.1rem;
    font-weight: 500;
}

.filter-label {
    width: 340px;
    text-align: left;
    margin-bottom: 7px;
    font-weight: 500;
}



/* ----------------------------------------- */
/*        VALIDATION ERROR STYLING           */
/* ----------------------------------------- */

.invalid-feedback {
    font-size: 0.85rem;
    text-align: left;
    margin-top: 2px;
}