/* FULL PAGE */
.fr-page {
    padding-top: 40px;
}

/* TITLE + CANCEL BUTTON */
.fr-header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

/* CENTERED TITLE */
.fr-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* CANCEL BUTTON RIGHT SIDE OF PAGE */
.fr-cancel-btn {
    position: absolute;
    right: 80px;
    top: 0;
    background-color: #f4a742;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 6px 18px;
}

/* WRAPPER THAT CENTERS FORM PERFECTLY */
.fr-center-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 40px;
    width: 100%;
}

/* FORM BOX */
.fr-box {
    width: 480px;
}

/* SUBTITLE */
.fr-subtitle {
    font-size: 1rem;
    margin-bottom: 25px;
    color: #666;
}

/* LABEL */
.fr-label {
    font-weight: 600;
   
}

/* INPUT BOXES */
.fr-input {
    padding: 10px;
    height: 40px;
}

/* BUTTON */
.fr-btn {
    background-color: #598199;
    border: none;
    padding: 10px;
    font-weight: 600;
}

    .fr-btn:hover {
        background-color: #7ea0b5;
    }
