/* Full page container */
.reset-page {
    padding-top: 40px;
    position: relative;
    width: 100%;
}

/* Top page title centered */
.reset-page-title {
    text-align: center;
    margin-top: 1.5em;
}

    .reset-page-title h2 {
        font-weight: 700;
        color: #333;
    }

/* Cancel button aligned FAR RIGHT */
.reset-cancel-wrapper {
    position: absolute;
    right: 5%;
    top: 70px;
}

.reset-cancel-btn {
    font-weight: 600;
    padding: 6px 18px;
}

/* Main box container */
.reset-container {
    width: 550px; /* +100px wider */
    margin: 2.5em auto;
    text-align: center;
}

/* Description under the title */
.reset-form-header {
    margin-bottom: 20px;
}

.reset-description {
    width: 100%;
    font-size: 16px;
    color: #555;
}

/* Form spacing */
.reset-form {
    margin-top: 10px;
    text-align: left;
}

/* Submit button */
.reset-submit-btn {
    background-color: #598199;
    color: white;
    font-weight: 600;
    padding: 10px;
}

    .reset-submit-btn:hover {
        background-color: #9ab2c1;
    }


    /* Button pressed/active */
    .reset-submit-btn:active {
        background-color: #5a839a !important;
        border-color: #5a839a !important;
        transform: scale(0.98); /* (optional) click animation */
    }
